<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navigation bar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'posts' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addPost' %}">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4 col-sm-12 m-auto">

        <div class="text-center p-4 bg-light shadow">
            <div ><img src="#" class="rounded-circle"> </div>
            <div class="display-6"> {{ user.get.name }}  {{ user.get.surname }}</div>
            <h5 class="text-muted">Profession: {{ user.get.profession }} </h5>
            <h5 class="text-muted">Abilities: {{ user.get.abilities }} </h5>
            <h5 class="text-muted">Interests: {{ user.get.interests }} </h5>


        </div>

        {% for post in posts %}
            <div class="card m-auto shadow mt-3" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">{{ post.post_title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>